/* Apply the selected font family to the root element */
body {
    font-family: var(--font-family);
    font-size: 18px;
    word-break: break-word;
    overflow: visible;
}

/* Define CSS variables for each font family */
:root {
    --font-family-calibri: 'Calibri', sans-serif;
    --font-family-roboto: 'Roboto', sans-serif;
    --font-family-helvetica: 'Helvetica', sans-serif;
}

/* Set the CSS variable value based on the selected font family */
body[data-font-family='calibri'] {
    --font-family: var(--font-family-calibri);
}

body[data-font-family='roboto'] {
    --font-family: var(--font-family-roboto);
}

body[data-font-family='helvetica'] {
    --font-family: var(--font-family-helvetica);
}

[class^='v-card'] {
    font-size: inherit !important;
}

[class^='v-card-title'] {
    font-size: calc(1em + 2px) !important;
}

.block:not(:last-child) {
    margin-bottom: 1.5rem;
}
